/* import font */
@font-face {
  font-family: Parisr;
  src: url('../fonts/parisr.woff') format("woff"),
    url('../fonts/parisr.eot?#iefix') format("embedded-opentype"),
    url('../fonts/parisr.ttf') format("truetype"),
    url('../fonts/parisr.svg') format("svg");
  font-weight: normal;
  font-style: normal;
}

/* browser resest */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* display all html5 elements as blocks */
section,
article,
header,
footer,
nav,
aside,
main {
  display: block;
}


/* set font-size to 100% */
html {
  font-size: 100%;
}

/* global font-styles */
body {
  font-family: 'Work Sans', Helvetica, Arial, sans-serif;
  color: #1a1a1a;
}

.skiplink {
  position: absolute;
  left: -10000px;
}

.skiplink:focus {
  left: 0;
  background-color: #4c712b;
  color: #ffff00;
}
/* Global table styles */
table, td, th {
	border: 1px solid #000;
}

th {
  font-weight: 900;
}

table {
	border-collapse: collapse;
  border-spacing: 0;
  width: 80%;
}
/*-----global typography----------------- */
h1 {
  font-family: 'Parisr';
  font-size: 2.9em;
  display: block;
  line-height: .6em;
  color: #1a1a1a;
  font-weight: 300;
  display: inline-block;
}

h2 {
  font-family: 'Crimson Text', Georgia, serif;

}
/* H2 heading for every page that isn't the home page */
.intro {
  font-size: 1.8em;
  text-transform: uppercase;
  border-bottom: 1px solid #1a1a1a;
}

h3 {
  font-size: 1.6em;
  margin: .5em 0 1em 0;
  font-family: 'Crimson Text', Georgia, serif;
  font-weight: 200;
  text-transform: uppercase;
  border-bottom: 1px solid #1a1a1a;
}

h4 {
  font-size: 1.4em;
  margin: .5em 0 1em 0;
  font-family: 'Crimson Text', Georgia, serif;
  font-weight: 200;
}

p {
  font-size: 1.15em;
  margin: 1em 0;
  line-height: 1.6em;
  font-weight: 500;
}

figcaption {
  font-size: .7em;
  margin-top: .7em;
  font-weight: 500;
  font-style: italic;

}

p a {
  color: #236841;
  font-weight: 900;
}


.smaller {
  font-size: .45em;
  display: block;
  margin-left: .2em;

}

/* header text */
.mainheader {
  position: relative;
  width: 100%;
  background-color: #ededed;
  box-shadow: 0 4px 6px -4px #a7a4a4;
  z-index: 1;
}

/* Global container used throughout project */
.main-container{
  padding-top: 3em;
  width: 90%; 
  margin: auto;

}


/* commonlinks */
.commonlinks {
  width: 90%;
  margin: auto;
}

.commonlinkscontainer {
  border-bottom: 1px solid #ddd;

  height: 1.55em;
  width: 100%;

}

.commonlinks ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding-top: .25em;
}

.commonlinks li {
  font-size: .85em;
  padding-left: 1em;
}

.commonlinks li a {
  color: #1a1a1a;
  text-decoration: none;
}

.commonlinks li a:hover,
a:focus {
  text-decoration: underline;
}
/*----- Logo styles ------ */
.logonav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1em 0 .4em 0;
  width: 90%;
  margin: auto;
}

.nav-header {
  display: block;
  width: 18.2em;
  margin-bottom: 1em;
}

.logo {
  background-image: url('../images/logos/logo.png');
  height: 74px;
  width: 96px;
  display: inline-block;
  background-position: center;
  margin-right: .2em;
}

/*--------- breadcrumbs navigation ----------*/

.breadcrumbs {
  width: 90%;
  margin: auto;
}

.breadcrumbs ul {
  margin-top: 1.5em;
  list-style: none;
  font-size: .95em;
}

.breadcrumbs li {
  width: auto;
  /* padding: 0 .8em .3em .8em; */
  margin-right: 1em;
  display: inline-block;
  font-weight: 100;
}

.breadcrumbs li a {
  color: #236841;
  text-decoration: none;
}

.breadcrumbs li a:hover,
a:focus {
  color: #236841;
  text-decoration: underline;
}

#currentpage {
  text-decoration: underline;
  font-weight: 900;
}


/* icon for breadcrumbs */
i {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3.5px;
  margin-left: 5px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/*--------------- main navigation------------------ */

.nav-links li {
  list-style: none;
  display: inline-block;
  font-size: 1.15em;
  font-weight: 100;
  font-family: 'Crimson Text', Georgia, serif;
  text-transform: uppercase;
}

.nav-links li a {
  margin: .4em .3em;
  text-decoration: none;
  color: #1a1a1a;
}

.nav-links a:hover,
a:focus {
  color: #226841;
  transition-duration: .1s;

}

#current {
  border-bottom: 2px solid #226841;
}

/*Media queries for header navigation - tablet */
@media (max-width:1024px) {
  .logonav {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    margin-bottom: 1em;
  }
}
/*Media queries for header navigation - mobile */
@media (max-width:660px) {
  nav {
    width: 100%;
  }

  #current {

    background-color: #ededed;
    color: #1a1a1a;
    border-bottom: 1px solid #535353;
  }

  #current:hover,
  #current:focus {
    color: #226841;
  }

  .logonav {
    flex-direction: column;
    width: 90%;
  }

  .nav-links {
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #ededed;
  }

  .nav-links li a {
    display: block;
    color: #1a1a1a;
    border-bottom: 1px solid #535353;
    padding-bottom: .2em;
  }

  .nav-links li a:hover a:focus {
    border-bottom: 1px solid #535353;
    background-color: #ededed;
    color: #226841;
    width: fit-content;
    font-weight: 900;
  }
}

/* ------------------Lead image and  Our Business, Our Books, Invest in Books section ------------------------ */

.leadimage {

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  z-index: -1;
}

#lead{
  height: 32em;
  background-image: url('../images/contact/largebookshelf.jpg');
  /* background-image: url('../images/home/book3.jpg'); */
}

.leadimage h2 {

  color: #1a1a1a;
  line-height: 1em;
  margin-top: .6em;
  font-size: 2.3em;
  line-height: 1.1em;
}

.leadimage p {
  line-height: 1em;

  color: #1a1a1a;
  margin: .5em 0 .4em 0em;
  font-size: 1.2em;
}



.positiontext {
  width: 90%;
  margin: auto;
}

.main-button {
  border: 1px solid #1a1a1a;
  background-color: rgba(255, 255, 255, 0);
  color: #1a1a1a;
  padding: .75em 2em;
  font-size: 1em;
  border-radius: .15em;
  margin-top: .7em;

}

.main-button.dark {
  border: 1px solid #1a1a1a;
  background-color: rgba(255, 255, 255, 0);
  color: #1a1a1a;
  padding: .5em 2em;
  margin-top: 2.7em;
}

.main-button:hover,
.main-button:focus {
  background-color: #f5f5f5;
  color: #1a1a1a;
  transition: .3s;
  border: 1px solid #1a1a1a;
}

.main-button.dark:hover,
.main-button.dark:focus {
  background-color: #1a1a1a;
  color: #f5f5f5;
  transition: .3s;
  border: 1px solid #f5f5f5;
}


.heading-text {
  width: auto;
  background-color: rgba(204, 227, 215, 0.9);
  padding: 1em 2em 2em 2em;
  height: 14em;
  position: relative;
  top: 14em;
  display: inline-block;
  width: 35em;
}

main {
  width: 100%;
}

.intro-container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1em 0 3em 0;
  justify-content: space-between;
}

.intro-col {
  width: 20em;
  text-align: left;
  margin-top: 1em;
}

.intro-col.lead {
  width: 480px;
}

video {
  display: block;
  width: 100%;
}

.parentimage {
  width: 20em;
  height: 15em;
  margin: auto;
  overflow: hidden;
}

.colimage {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  background-position: center;
}

#about {
  background-image: url('../images/home/bookslead.jpg');
  background-position: center;
}

#book {
  background-image: url('../images/home/stevenson.jpg');

}


.colimage h4 {
  display: block;
  font-size: 35px;
  color: #ffffff !important;
  font-family: sans-serif;
  text-align: center;
  margin: auto;
  font-family: 'Crimson Text', Georgia, serif;
  height: 50px;
  cursor: pointer;
  position: relative;
  top: 2.5em;
  /*text-decoration: none;*/
}


.colimage:before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(145, 180, 162, 0.897);
}

.parentimage:hover .colimage:before,
.parentimage:focus .colimage:before {
  display: block;
}

.parentimage:hover .colimage,
.parentimage:focus .colimage {
  transform: scale(1.2);
}

/* Tablet breaking point for lead image and three features - Our Business, Our Books, Invest in Books  */
@media (max-width:1024px) {
  .heading-text {
    top: 12.5em;
  }

  .intro-container {
    flex-direction: column;
    width: 85%;
  }

  .intro-col {
    width: 100%;
    margin: 1em auto;
  }

  .intro-col.lead {
    width: 100%;
    margin: 1em auto;
  }

  #about {
    background-image: url('../images/home/bookslead400.jpg');
    background-position: center;
  }

  #book {
    background-image: url('../images/home/stevenson400.jpg');

  }
  .parentimage {
    width: 25em;
    margin: auto;
    height: 18.75em;
  }

  .centervideo {
    width: 25em;
    margin: auto;
  }

  /* video needs to be smaller on smaller screens - otherwise width is defined in html  */
  video {
    width: 400px;
    height: 300px;
  }

}

/* Mobile breaking point for lead image and three features - Our Business, Our Books, Invest in Books  */
@media (max-width:660px) {
  .heading-text {
    height: 15em;
    width: 20em
  }

  .heading-text h2 {
    font-size: 1.3em;
  }

  .centervideo{
    width: 17.5em;

  }
  video {
    width: 280px;
    height: 210px;
  }

  .parentimage {
    width: 17.5em;
    height: 13.125em;
  }

}

.abouttext {
  width: 60%;
  color: white;
  font-size: 2.5em;
  font-family: 'Crimson Text', Georgia, serif;
}

/*---------------- Featured book section-------------------------- */
.highlightcontainer {
  background: rgb(196, 222, 208);
  background: linear-gradient(90deg, rgba(196, 222, 208, 1) 0%, rgba(212, 233, 222, 1) 47%, rgba(231, 249, 243, 1) 100%);
  padding: 3em 0 2em 0;
}

.books {
  width: 90%;
  margin: auto;
}

.books h3 {
  border-bottom: 0;
}

.booklist.feature {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 1em;
  flex-wrap: nowrap;
}

.booklist {
  display: flex;
  justify-content: space-between;
  padding-right: 1em;
}

.booklist span {
  display: block;
}

.booklist h4 {
  font-size: 1.2em;
  text-transform: uppercase;
}

.booktext {
  width: 85%;

  padding-bottom: 3em;
}

.non-featured {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 2em;
  padding-right: 2em;
}

.books img {
  margin: 1em 2em 0 0;
}

/*  tablet media queries for featured book section*/
@media (max-width:1024px) {
  .books {
    width: 85%;

  }

  .booklist {
    flex-direction: column;
  }

  .booklist.feature {
    flex-direction: row;
  }

  .booktext {
    width: auto;
    padding-bottom: 0;
  }

  .non-featured {
    padding-right: 0;
  }

}
 /* Mobile media queries for featured books section */
@media (max-width:660px) {

  .non-featured,
  .booklist.feature {
    display: flex;
    flex-direction: column;
  }
}

/* Buy, Value Sell section */

.container-secondary {
  background-color: #ededed;
  width: 100%;
  padding: 4em 0;
}

.bsvtext {
  padding: 2em 0;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.bsvtext ul {
  padding-bottom: 1.5em;
  margin-left: 1.5em;
  margin-right: 3em;
}

.bsvtext ul li {
  font-size: 1.2em;
  list-style: none;
  padding-bottom: .5em;

}

.bsvtext.selling h3 {
  margin-right: 2.15625em
}

.bsvtext.selling p {
  margin-right: 3em;
  padding-bottom: 1.5em;
}

.bsvtext.valuing p {
  margin-left: 3em;
}

.bsvtext.valuing h3 {
  margin-left: 2.15625em
}

.bsv.selling img {
  width: 25em;
  height: auto;
  margin-top: 3em;
}

/* Buy, Value Sell section for both tablet and mobile */

@media (max-width:1024px) {

  .bsvtext {
    padding: 1em 0;
    display: flex;
    flex-direction: column;
  }

  .bsvtext figure {
    display: none;
  }

  .bsvtext.valuing h3 {
    margin-left: 0;
  }

  .bsvtext.selling h3 {
    margin-right: 0em;

  }

  .bsvtext.valuing p {
    margin: 1em 0;
  }

  .bsvtext.selling p {
    margin: 1em 0;
  }
}

/* ----------------Footer styles------------------------- */
.footercontainer {
  border-top: 1px solid #cccccc;
  background-color: #e2e2e2;

}

footer {
  width: 90%;
  margin: auto;
  padding: 3em 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

footer nav {
  margin: 0em 6em 0 0;
}

footer h4 {
  border-bottom: 1px solid #1a1a1a;
  display: inline-block;
  padding-right: 4em;
}

footer nav ul {
  font-size: 1em;
  list-style: none;
}

footer nav ul li {
  margin: 1em 0;
  padding-bottom: .2em;

}
footer nav ul li a {
  color: #1a1a1a;
  text-decoration: none;
}

/* Footer media queries for tablet */
@media (max-width:1024px) {
  footer {
    justify-content: center;
  }
}

/* Footer media queries for mobile */
@media (max-width:660px) {
  footer {
    flex-direction: column;
  }
}