/* import font */
@font-face {
  font-family: Parisr;
  src: url(./fonts/parisr.woff);
  font-weight: normal;
  font-style: normal;
}

/* browser resest */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 100%;
}
/* typography */
h1 {
  font-family: 'Parisr';
  font-size: 2.9em;
  display: block;
  line-height: .6em;
  color: #1a1a1a;
  font-weight: 300;
  display: inline-block;
}

h2{
  font-family: 'Merriweather', serif;

}

h3{
  font-size: 1.7em;
}

p{
  font-size: 1.2em;
  color: #1a1a1a;
}

.leadimage h2{
  width: 50%;
  color: whitesmoke;
  position: relative;
  top: 5em;
  left: 2.5%;
  text-shadow: 2px 2px 2px #535353;
  font-size: 2.8em;
}

.smaller {
  font-size: .45em;
  display: block;
  margin-left: .2em;
}


body {

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #1a1a1a;
}

/* header and navigation */
.headercontainer {
  width: 100%;
  background-color: #ededed;
  box-shadow: 0 4px 12px -4px #535353;
  z-index: 1;
  position: relative;

}

.mainheader{
  width: 95%;
  margin: auto;
  position: relative;

}

.commonlinks ul{
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding-top: .8em;
}

.commonlinks li{
  font-size: .9em;
  padding-left: 1em;
}
.commonlinks li a{
  color: #1a1a1a;
  text-decoration: none;
}
.commonlinks li a:hover{
  text-decoration: underline;
}


.logonav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: .5em 0;

}


.nav-header {
  display: block;
  width: 18.2em;
  margin-bottom: 1em;
}

.logo {
  background-image: url(logo.png);
  height: 74px;
  width: 96px;
  border: 1px solid red;
  display: inline-block;
  background-position: center;
  margin-right: .2em;
}

.nav-links li {
  list-style: none;
  display: inline-block;
  font-size: 1.2em;
  font-weight: 500;
}

.nav-links a {
  margin: .4em .6em;
  text-decoration: none;
  color: #1a1a1a;
}

.nav-links a:hover {
  border-bottom: 5px solid #226841;
  transition-duration: .1s;
}

#current {
  border-bottom: 5px solid #226841;
}

@media (max-width:960px) {
  .logonav {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-links{
    margin-bottom: 1em;
  }
}

@media (max-width:660px) {
  nav {
    width: 100%;
  }

  #current{
    border: 0;
    background-color: #ededed;
    color: #1a1a1a;
  }
  .logonav {
    flex-direction: column;
    width: 100%;
  }

  .nav-links {
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #226841;
    

  }
  .nav-links li a {
    display: block;  
    color: white;
  }

  .nav-links li a:hover {
    border: 0;
    background-color: #ededed;
    color: #1a1a1a;
    width: fit-content;
  }
}

/* lead image */

.leadimage {
  height: 30em;
  background-image: url(hand-book.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main{ width: 100%;}

.intro-container {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between

}

.intro-col{
  flex-basis: 45%;
  text-align: left;
  border: 1px solid red;
  margin-top: 3rem;
}

.center {
  
  width: 480px;
  margin: auto;
}

 /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
 .flip-card {
   margin: auto;
  background-color: transparent;
  width: 480px;
  height: 360px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100.5%;
  height: 100.5%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #1a1a1a;
  color: white !important;
  transform: rotateY(180deg);
} 



@media (max-width:960px) {
 .intro-container{
   flex-direction: column;
 
 }
 .intro-col{
   flex-basis: 40em;
  
 }
}