/* import font */
@font-face {
  font-family: Parisr;
  src: url(./fonts/parisr.woff);
  font-weight: normal;
  font-style: normal;
}

/* browser resest */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* set font-size to 100% */
html {
  font-size: 100%;
}

/* global font-styles */
body {
  font-family: 'Work Sans', Helvetica, Arial, sans-serif;
  color: #1a1a1a;
}


/* typography */
h1 {
  font-family: 'Parisr';
  font-size: 2.9em;
  display: block;
  line-height: .6em;
  color: #1a1a1a;
  font-weight: 300;
  display: inline-block;
}

h2 {
  font-family: 'Crimson Text', serif;

}

h3 {
  font-size: 1.6em;
  margin: .5em 0 1em 0;
  font-family: 'Crimson Text', serif;
  font-weight: 200;
  text-transform: uppercase;
}

h4 {
  font-size: 1.4em;
  margin: .5em 0 1em 0;
  font-family: 'Crimson Text', serif;
  font-weight: 200;
}

p {
  font-size: 1.15em;
  color: #1a1a1a;
  margin: 1em 0;
  line-height: 1.6em;
  font-weight: 500;
}

.leadimage h2 {
  
  color: whitesmoke;
  line-height: 1em;
  text-shadow: 2px 2px 2px #535353;
  font-size: 3.3em;
  line-height: 1.1em;
}

.leadimage p {
  line-height: 1em;
  width: 50%;
  color: whitesmoke;
  margin: .5em 0 .4em 0em;
  font-size: 1.4em;
}

.smaller {
  font-size: .45em;
  display: block;
  margin-left: .2em;
}


.mainheader {
  position: relative;
  width: 100%;
  background-color: #ededed;
  box-shadow: 0 4px 16px -4px #363636;
  z-index: 1;
}

.commonlinks{
  width: 90%;
  margin: auto;
}

.commonlinkscontainer{
  background-color: #e5e8e6;
  height: 1.5em;
  width: 100%;
  border: 1px solid #ddd;
}

.commonlinks ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding-top: .25em;
}

.commonlinks li {
  font-size: .75em;
  padding-left: 1em;
}

.commonlinks li a {
  color: #1a1a1a;
  text-decoration: none;
}

.commonlinks li a:hover {
  text-decoration: underline;
}

.logonav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1em 0 .4em 0;
  width: 90%;
  margin: auto;
}

.nav-header {
  display: block;
  width: 18.2em;
  margin-bottom: 1em;
}

.logo {
  background-image: url('./images/logos/logo.png');
  height: 74px;
  width: 96px;
  display: inline-block;
  background-position: center;
  margin-right: .2em;
}

.nav-links li {
  list-style: none;
  display: inline-block;
  font-size: 1.2em;
  font-weight: 500;
}

.nav-links a {
  margin: .4em;
  text-decoration: none;
  color: #1a1a1a;
}

.nav-links a:hover {
  border-bottom: 4px solid #226841;
  transition-duration: .1s;
}

#current {
  border-bottom: 4px solid #226841;
}

/* MEDAI QUERIES FOR HEADER/NAVIGATION */
@media (max-width:960px) {
  .logonav {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    margin-bottom: 1em;
  }
}

@media (max-width:660px) {
  nav {
    width: 100%;
  }

  #current {

    background-color: #ededed;
    color: #1a1a1a;
    border-bottom: 1px solid #535353;
  }

  #current:hover {
    color: #226841;
  }

  .logonav {
    flex-direction: column;
    width: 90%;
  }

  .nav-links {
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #ededed;
  }

  .nav-links li a {
    display: block;
    color: #1a1a1a;
    border-bottom: 1px solid #535353;
    padding-bottom: .2em;
  }

  .nav-links li a:hover {
    border-bottom: 1px solid #535353;
    background-color: #ededed;
    color: #226841;
    width: fit-content;
    font-weight: 900;
  }
}

/* lead image */

.leadimage {
  height: 32em;
  background-image: url('./images/home/hand-book.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  z-index: -1;

}

.leadimage:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
  opacity: .6;
}

.main-button {
  border: 1px solid #F5F5F5;
  background-color: rgba(255, 255, 255, 0);
  color: #F5F5F5;
  padding: .5em 2em;
  font-size: 1.2em;
  border-radius: .15em;
  margin-top: .7em;
  font-size: 1.1em;
}

.main-button.dark {
  border: 1px solid #1a1a1a;
  background-color: rgba(255, 255, 255, 0);
  color: #1a1a1a;
  padding: .5em 2em;
  margin-top: 2.7em;
}

.main-button:hover {
  background-color: #f5f5f5;
  color: #1a1a1a;
  transition: .3s;
  border: 1px solid #1a1a1a;
}

.main-button.dark:hover {
  background-color: #1a1a1a;
  color: #f5f5f5;
  transition: .3s;
  border: 1px solid #f5f5f5;
}


.heading-text {
  width: 90%;
  margin: auto;
  position: relative;
  top: 14em;
}

main {
  width: 100%;
}

.intro-container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1em 0 3em 0;
  justify-content: space-between;
}

.intro-col {
  width: 17em;
  text-align: left;
  margin-top: 2rem;
}

.intro-col.lead {
  width: 480px;
}

.intro-col h3 {
  width: 75%;
  font-size: 1.6em;
  text-transform: uppercase;
  border-bottom: 2px solid #236841;
}


.parentimage {
  width: 17em;
  height: 12em;
  margin: auto;
  overflow: hidden;
}

.colimage {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  background-position: center;
}

#about {
  background-image: url('./books600.jpg');

}

#book {

  background-image: url('./gatsby.jpg');

}




.colimage h4 {
  display: block;
  font-size: 35px;
  color: #ffffff !important;
  font-family: sans-serif;
  text-align: center;
  margin: auto;
  font-family: 'Crimson Text', serif;
  height: 50px;
  cursor: pointer;
  position: relative;
  top: 2.5em;
  /*text-decoration: none;*/
}


.colimage:before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(35, 104, 65, 0.85);
}

.parentimage:hover .colimage:before,
.parentimage:focus .colimage:before {
  display: block;
}

.parentimage:hover .colimage,
.parentimage:focus .colimage {
  transform: scale(1.2);
}

@media (max-width:960px) {
  .heading-text{
    top: 12.5em;
    width: 85%;
  }
  .intro-container {
    flex-direction: column;
    width: 85%;
  }

  .intro-col {
    width: 100%;
    margin: 1em auto;
  }

  .intro-col.lead {
    width: 100%;
    margin: 1em auto;
  }

  .intro-col h3 {
    /* This is a fallback rule for ie and early edge browsers, where max-content is not available */
    width: 35%;
    width: max-content;

  }

  .parentimage {
    width: 400px;
    margin: auto;
    height: 300px;
  }

  .center {
    width: 400px;
    margin: auto;
  }

  video {
    width: 400px;
    height: 300px;

  }

}

.abouttext {

  width: 60%;
  color: white;
  font-size: 2.5em;
  font-family: 'Crimson Text';
}

.bookscontainer {
  background: rgb(196,222,208);
background: linear-gradient(90deg, rgba(196,222,208,1) 0%, rgba(212,233,222,1) 47%, rgba(231,249,243,1) 100%);
  padding: 3em 0 2em 0;
}

.books {
  width: 90%;
  margin: auto;
}

.booklist.feature {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 1em;
  flex-wrap: nowrap;
}


.booklist {
  display: flex;
  justify-content: space-between;
  padding-right: 1em;
}



.booklist span {
  display: block;
}



.booklist h4 {
  font-size: 1.2em;
  text-transform: uppercase;
}



.booktext {
  width: 85%;

  padding-bottom: 3em;
}

.non-featured {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 3em;
}

.books img {
  margin: 1em 2em 0 0;
}

@media (max-width:960px) {
  .books {
    width: 85%;

  }

  .booklist {
    flex-direction: column;
  }

  .booklist.feature {
    flex-direction: row;
  }

  .booktext {
    width: auto;
    padding-bottom: 0;
  }
}






.container-secondary {
  background-color: #ededed;
  width: 100%;

  padding: 4em 0;



}

.bsvtext {
  padding: 2em 0;
  display: flex;
  justify-content: space-between;

}

.bsvtext h3 {
  border-bottom: 2px solid #226841;
  width: 8em;
}

.bsvtext.selling {

  padding-left: 5%;
}

.bsvtext.selling p {
  margin-right: 5em;
  padding-bottom: 1.5em;
}

.bsvtext.valuing p {
  margin-left: 5em;
}

.bsvtext.valuing h3 {
  margin-left: 3.59375em;
}

.bsv.selling img {
  width: 25em;
  height: auto;
  margin-top: 3em;
}

.bsvtext.valuing {

  padding-right: 5%;
  padding-left: 0;
}


@media (max-width:960px) {

  .bsvtext {
    padding: 1em 0;
    display: flex;
    flex-direction: column;
  }

  .bsvtext img {
    display: none;
  }

  .bsvtext.valuing h3 {
    margin-left: 0;
  }

  .bsvtext.valuing p {
    margin: 1em 0;
  }

  .bsvtext.selling p {
    margin: 1em 0;
  }

  .bsvtext.valuing {
    padding-left: 7.5%;
    padding-right: 7.5%;
  }

  .bsvtext.selling {
    padding-left: 7.5%;
    padding-right: 7.5%;
  }
}


.footercontainer {
  border-top: 1px solid #cccccc;
  background-color: #DBDBDB;
  height: 25em;
}

